:root {
  --main-color: #ffd724;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  position: relative;
  width: 30rem;
  height: 30rem;
  /* border: 2px solid black; */
  /* background-image: url(./Screen\ Shot\ 2022-05-16\ at\ 1.10.05\ PM.png); */
  background-size: 100%;
  background-repeat: no-repeat;
  /* background-position: center; */
  background-position-x: -2.5px;
  background-position-y: 29px;
}

/* Tail */
.tail-color {
  width: 20rem;
  height: 20rem;
  background-color: #ffd724;
  position: absolute;
  position: relative;
  top: 100px;
  transform: rotate(-5deg);
  clip-path: polygon(
    62% 62%,
    45% 61%,
    78% 32%,
    26% 0%,
    0% 31%,
    46% 43%,
    28% 70%,
    46% 71%,
    37% 87%,
    54% 93%,
    58% 86%,
    47% 83%
  );
}
.tail-color > div {
  width: 40rem;
  height: 20rem;
  border-radius: 50%;
  background-color: #e6ab2e;
  position: absolute;
  top: 5.9rem;
  left: -10rem;
}
.tail-color > div > div {
  width: 2.5rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #993e0c;
  position: absolute;
  right: 19.6rem;
  bottom: 9.2rem;
  transform: rotate(5deg);
  clip-path: polygon(52% 70%, 51% 50%, 36% 66%, 35% 54%, 0% 94%, 71% 100%, 82% 68%, 64% 75%, 70% 48%);
}
.tail-color > div > div:nth-child(2) {
  position: absolute;
  bottom: -3rem;
  right: 11rem;
  transform: rotate(90deg);
  background-color: #993e0c;
  width: 8rem;
  height: 20rem;
}

.tail-outline {
  border: none;
  height: 3px;
  background-color: black;
  position: absolute;
}

.t1 {
  width: 196.3px;
  top: 150px;
  left: 59px;
  transform: rotate(26.6deg);
}

.t2 {
  width: 131px;
  top: 159px;
  left: -32px;
  transform: rotate(-55deg);
}

.t3 {
  width: 152.6px;
  top: 224.1px;
  left: -3.5px;
  transform: rotate(9.1deg);
}

.t4 {
  width: 103px;
  top: 282.1px;
  left: 70.3px;
  transform: rotate(-61.1deg);
}

.t5 {
  width: 142px;
  top: 245px;
  left: 123px;
  transform: rotate(-46deg);
}

.t6 {
  width: 58px;
  top: 295.5px;
  left: 143.6px;
  transform: rotate(-2deg);
}

.t7 {
  width: 58px;
  top: 328px;
  left: 95.6px;
  transform: rotate(0deg);
}

.t8 {
  width: 57px;
  top: 354.5px;
  left: 111.7px;
  transform: rotate(-65deg);
}

.t9 {
  width: 77.6px;
  top: 328.9px;
  left: 142px;
  transform: rotate(-59.7deg);
}

.t10 {
  width: 38px;
  top: 367px;
  left: 159px;
  transform: rotate(12deg);
}

.t11 {
  width: 58px;
  top: 386.5px;
  left: 129px;
  transform: rotate(14deg);
}

.t12 {
  width: 25px;
  top: 382px;
  left: 177.5px;
  transform: rotate(-65deg);
}

/* Body */
.c1 {
  position: absolute;
  bottom: 35px;
  left: 170px;
  border-radius: 50%;
  width: 6rem;
  height: 5rem;
  overflow: hidden;
  background-color: #e6ab2e;
}

.c2 {
  position: absolute;
  bottom: 39px;
  left: 304px;
  transform: rotate(20deg);
  width: 4rem;
  height: 5rem;
  background-color: var(--main-color);
  border-radius: 50%;
}

.c3 {
  position: absolute;
  bottom: 34px;
  left: 280px;
  width: 5.2rem;
  height: 2rem;
  transform: rotate(4deg);
  background-color: #e6ab2e;
  border-radius: 50%;
}

.c4 {
  position: absolute;
  bottom: 36px;
  left: 260px;
  width: 5rem;
  height: 2rem;
  transform: rotate(10deg);
  background-color: #e6ab2e;
  border-radius: 50%;
}

.c5 {
  position: absolute;
  bottom: 34px;
  left: 202px;
  width: 5rem;
  height: 2rem;
  transform: rotate(-10deg);
  background-color: #e6ab2e;
  border-radius: 50%;
}

.c6 {
  position: absolute;
  bottom: 39px;
  left: 222px;
  width: 6rem;
  height: 3rem;
  transform: rotate(3deg);
  background-color: #e6ab2e;
}

.c7 {
  position: absolute;
  bottom: 55px;
  left: 176px;
  border-radius: 50%;
  width: 2rem;
  height: 4rem;
  overflow: hidden;
  transform: rotate(28deg);
  background-color: var(--main-color);
}

.c8 {
  position: absolute;
  bottom: 63px;
  left: 225px;
  border-radius: 50%;
  width: 2rem;
  height: 4rem;
  overflow: hidden;
  transform: rotate(-31deg);
  background-color: var(--main-color);
}

.c9 {
  position: absolute;
  bottom: 83px;
  left: 200px;
  width: 4rem;
  height: 2.5rem;
  overflow: hidden;
  background-color: var(--main-color);
}

.c10 {
  position: absolute;
  bottom: 64.2px;
  left: 252px;
  width: 5.5rem;
  height: 2rem;
  overflow: hidden;
  transform: rotate(3deg);
  background-color: var(--main-color);
}

.c11 {
  position: absolute;
  bottom: 63px;
  left: 225px;
  border-radius: 50%;
  width: 2rem;
  height: 4rem;
  overflow: hidden;
  transform: rotate(-31deg);
  background-color: var(--main-color);
}

.c12 {
  position: absolute;
  bottom: 62px;
  left: 171.5px;
  border-radius: 50%;
  width: 1rem;
  height: 4rem;
  overflow: hidden;
  transform: rotate(8.5deg);
  background-color: var(--main-color);
}

.c13 {
  position: absolute;
  bottom: 97px;
  left: 286px;
  border-radius: 50%;
  width: 4rem;
  height: 8rem;
  overflow: hidden;
  transform: rotate(-6deg);
  background-color: var(--main-color);
}

.c14 {
  position: absolute;
  bottom: 97px;
  left: 188.5px;
  width: 4rem;
  height: 8rem;
  overflow: hidden;
  transform: rotate(14deg);
  background-color: var(--main-color);
}

.c15 {
  position: absolute;
  bottom: 95px;
  left: 229px;
  width: 6rem;
  height: 8rem;
  overflow: hidden;
  background-color: var(--main-color);
}

.c16 {
  position: absolute;
  bottom: 272px;
  left: 210px;
  border-radius: 50%;
  width: 9.9rem;
  height: 6rem;
  overflow: hidden;
  transform: rotate(7deg);
  background-color: var(--main-color);
}

.c17 {
  position: absolute;
  bottom: 251px;
  left: 202px;
  border-radius: 50%;
  width: 2rem;
  height: 6rem;
  overflow: hidden;
  transform: rotate(5deg);
  background-color: var(--main-color);
}

.c18 {
  position: absolute;
  bottom: 240px;
  left: 338px;
  border-radius: 50%;
  width: 2rem;
  height: 6rem;
  overflow: hidden;
  transform: rotate(-10deg);
  background-color: var(--main-color);
}

.c19 {
  position: absolute;
  bottom: 164px;
  left: 272px;
  border-radius: 50%;
  width: 5rem;
  height: 8rem;
  overflow: hidden;
  transform: rotate(60deg);
  background-color: var(--main-color);
}

.c20 {
  position: absolute;
  bottom: 210px;
  left: 193px;
  border-radius: 50%;
  width: 4rem;
  height: 7rem;
  overflow: hidden;
  transform: rotate(15deg);
  background-color: var(--main-color);
}

.c21 {
  position: absolute;
  bottom: 227px;
  left: 228px;
  width: 8.6rem;
  height: 5rem;
  overflow: hidden;
  transform: rotate(-7deg);
  background-color: var(--main-color);
}

.c22 {
  position: absolute;
  bottom: 125px;
  left: 169px;
  width: 3rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(-36deg);
  background-color: var(--main-color);
}

.c23 {
  position: absolute;
  bottom: 123px;
  left: 179px;
  width: 3rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(-33deg);
  background-color: var(--main-color);
}

.c24 {
  position: absolute;
  bottom: 292px;
  left: 169px;
  width: 2.5rem;
  height: 11rem;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(-49deg);
  background-color: #e6ab2e;
}

.c25 {
  position: absolute;
  bottom: 322px;
  left: 160px;
  width: 2.5rem;
  height: 9rem;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(-50deg);
  background-color: var(--main-color);
}
.c255 {
  position: absolute;
  bottom: 322px;
  left: 157px;
  width: 2.5rem;
  height: 9rem;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(-46deg);
  background-color: var(--main-color);
}

.c26 {
  position: absolute;
  bottom: 271px;
  left: 369px;
  width: 2rem;
  height: 11rem;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(55deg);
  background-color: var(--main-color);
}
.c266 {
  position: absolute;
  bottom: 266px;
  left: 369px;
  width: 2rem;
  height: 11rem;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(63deg);
  background-color: var(--main-color);
}

.c27 {
  position: absolute;
  bottom: 286px;
  left: 375px;
  width: 2.5rem;
  height: 9rem;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(60deg);
  background-color: #e6ab2e;
}

.c33 {
  position: absolute;
  bottom: 60px;
  left: 308px;
  width: 3rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(10deg);
  background-color: var(--main-color);
}

.c34 {
  position: absolute;
  bottom: 47px;
  left: 245px;
  width: 4.9rem;
  height: 1.4rem;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(0deg);
  background-color: #e6ab2e;
}

/* Tail Outline */
.b1 {
  position: absolute;
  left: 223px;
  top: 105px;
  width: 8.4rem;
  height: 5rem;
  border-radius: 50%;
  transform: rotate(8deg);
  overflow: hidden;
  /* background-color: lightblue; */
}
.b1 > div {
  position: relative;
  top: 5.5px;
  left: -50px;
  width: 15rem;
  height: 14rem;
  border-radius: 50%;
  border: 3px solid black;
}

.b2 {
  position: absolute;
  left: 90px;
  top: 45px;
  width: 9.2rem;
  height: 5rem;
  transform: rotate(49deg);
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.4); */
}
.b2 > div {
  position: relative;
  top: 5px;
  left: -20px;
  width: 19rem;
  height: 10rem;
  transform: rotate(3deg);
  border-radius: 50%;
  border: 3px solid black;
}

.b3 {
  position: absolute;
  left: 341px;
  top: 59px;
  width: 9rem;
  height: 5rem;
  transform: rotate(144deg);
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.4); */
}
.b33 {
  position: absolute;
  top: 17px;
  left: -30px;
  width: 20rem;
  height: 10rem;
  transform: rotate(15deg);
  border-radius: 50%;
  border: 3px solid black;
}
.b333 {
  position: absolute;
  top: -104px;
  left: -30px;
  width: 20rem;
  height: 10rem;
  transform: rotate(-5deg);
  border-radius: 50%;
  border: 3px solid black;
}

.b4 {
  position: absolute;
  left: 88px;
  top: 46px;
  width: 9.4rem;
  height: 5rem;
  transform: rotate(45deg);
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.4); */
}
.b44 {
  position: absolute;
  top: 7px;
  left: -37px;
  width: 20rem;
  height: 10rem;
  transform: rotate(3deg);
  border-radius: 50%;
  border: 3px solid black;
}
.b444 {
  position: absolute;
  top: -110px;
  left: -30px;
  width: 20rem;
  height: 10rem;
  transform: rotate(-12deg);
  border-radius: 50%;
  border: 3px solid black;
}

.b5 {
  position: absolute;
  left: 328px;
  top: 166px;
  width: 4rem;
  height: 2rem;
  border-radius: 50%;
  transform: rotate(90deg);
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.409); */
}
.b5 > div {
  position: relative;
  top: 1px;
  left: -20px;
  width: 7rem;
  height: 5rem;
  border-radius: 50%;
  border: 3px solid black;
}

.b6 {
  position: absolute;
  left: 361px;
  top: 185px;
  width: 2.9rem;
  height: 3rem;
  transform: rotate(-101deg);
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.409); */
}
.b6 > div {
  position: relative;
  top: 10.8px;
  left: -71px;
  width: 12rem;
  transform: rotate(16.5deg);
  height: 6rem;
  border-radius: 50%;
  border: 3px solid black;
}

.b7 {
  position: absolute;
  left: 203px;
  top: 137px;
  width: 3rem;
  height: 3rem;
  transform: rotate(-70deg);
  border-top-right-radius: 20px;
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.409); */
}
.b7 > div {
  position: relative;
  top: 3px;
  left: -55px;
  width: 8rem;
  transform: rotate(-12.5deg);
  height: 5rem;
  border-radius: 50%;
  border: 3px solid black;
}

.c28 {
  position: absolute;
  left: 362px;
  top: 155px;
  background-color: var(--main-color);
  transform: rotate(-7deg);
  width: 10px;
  height: 38px;
}

.b8 {
  position: absolute;
  left: 337.2px;
  top: 153px;
  width: 2.8rem;
  height: 2rem;
  z-index: 2;
  transform: rotate(-109deg);
  border-bottom-right-radius: 20px;
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.409); */
}
.b8 > div {
  position: relative;
  top: -52px;
  left: -19px;
  width: 8rem;
  height: 5rem;
  transform: rotate(-15.5deg);
  border-radius: 50%;
  border: 3px solid black;
}

.b9 {
  position: absolute;
  left: 288px;
  top: 246px;
  width: 6rem;
  height: 2.5rem;
  transform: rotate(164deg);
  border-top-right-radius: 50px;
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.409); */
}
.b9 > div {
  position: relative;
  top: -0.1px;
  left: 2px;
  width: 10rem;
  height: 6rem;
  transform: rotate(0deg);
  border-radius: 50%;
  border: 3px solid black;
}

.b10 {
  position: absolute;
  left: 176px;
  top: 191px;
  width: 2.2rem;
  height: 2rem;
  transform: rotate(-73deg);
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.409); */
}
.b10 > div {
  position: relative;
  top: 15px;
  left: -55px;
  width: 8rem;
  transform: rotate(-12.5deg);
  height: 5rem;
  border-radius: 50%;
  border: 3px solid black;
}

.b11 {
  position: absolute;
  left: 192.5px;
  top: 167px;
  width: 1rem;
  height: 2rem;
  transform: rotate(110deg);
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.409); */
}
.b11 > div {
  position: relative;
  top: 15px;
  left: -55px;
  width: 8rem;
  transform: rotate(-12.5deg);
  height: 5rem;
  border-radius: 50%;
  border: 3px solid black;
}

.b12 {
  position: absolute;
  left: 123.5px;
  top: 306px;
  width: 5rem;
  height: 5.15rem;
  transform: rotate(14deg);
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.409); */
}
.b12 > div {
  position: relative;
  top: -10px;
  left: 55px;
  width: 10rem;
  height: 8rem;
  border: 3px solid black;
}

.b13 {
  position: absolute;
  left: 152px;
  top: 390px;
  width: 6rem;
  height: 4rem;
  transform: rotate(0deg);
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.409); */
}
.b13 > div {
  position: relative;
  top: -70px;
  left: 9px;
  width: 11rem;
  transform: rotate(-30deg);
  height: 7.5rem;
  border-radius: 50%;
  border: 3px solid black;
}

.b14 {
  position: absolute;
  left: 285px;
  top: 395px;
  width: 4rem;
  height: 4rem;
  transform: rotate(0deg);
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.409); */
}
.b14 > div {
  position: relative;
  top: -66px;
  left: -70px;
  width: 15rem;
  /* transform: rotate(-30deg); */
  height: 7.5rem;
  border-radius: 50%;
  border: 3px solid black;
}

.b15 {
  position: absolute;
  left: 248px;
  top: 429px;
  width: 2.5rem;
  height: 4rem;
  transform: rotate(172deg);
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.409); */
}
.b15 > div {
  position: relative;
  top: -66px;
  left: -50px;
  width: 10rem;
  /* transform: rotate(-30deg); */
  height: 7.5rem;
  border-radius: 50%;
  border: 3px solid black;
}

/* .b16 {
  position: absolute;
  left: 121px;
  top: 238px;
  width: 8.3rem;
  height: 4rem;
  transform: rotate(57deg);
  border-bottom-right-radius: 50px;
  overflow: hidden;
  background-color: rgba(173, 216, 230, 0.409);
}
.b16 > div {
  position: relative;
  top: -63px;
  left: -40px;
  width: 14rem;
  transform: rotate(-2deg);
  height: 7.5rem;
  border-radius: 50%;
  border: 3px solid black;
} */
.b16 {
  position: absolute;
  left: 110px;
  top: 227px;
  width: 9rem;
  height: 3.8rem;
  transform: rotate(55deg);
  border-bottom-right-radius: 40px;
  border-top-right-radius: 50px;
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.409); */
}
.b16 > div {
  position: relative;
  top: 0px;
  /* left: 0px; */
  width: 13.3rem;
  /* transform: rotate(-4deg); */
  /* background-color: var(--main-color); */
  height: 3.5rem;
  border-radius: 50%;
  border: 3px solid black;
}

.c39 {
  position: absolute;
  width: 13.3rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 99px;
  top: 258px;
  transform: rotate(55deg);
  background-color: var(--main-color);
}

.c40 {
  position: absolute;
  width: 3rem;
  height: 0.5rem;
  /* border-radius: 50%; */
  left: 162px;
  top: 295px;
  transform: rotate(55deg);
  background-color: #e6ab2e;
}

.c41 {
  position: absolute;
  width: 1.5rem;
  height: 4rem;
  border-radius: 50%;
  left: 193px;
  top: 270px;
  transform: rotate(30deg);
  background-color: #e6ab2e;
}

.c42 {
  position: absolute;
  width: 1.5rem;
  height: 6rem;
  border-radius: 50%;
  left: 184px;
  top: 245px;
  transform: rotate(-42deg);
  background-color: var(--main-color);
}

.c43 {
  position: absolute;
  width: 2rem;
  height: 6rem;
  border-radius: 50%;
  left: 190px;
  top: 225px;
  transform: rotate(-42deg);
  background-color: var(--main-color);
}

.b166 {
  position: absolute;
  left: 267px;
  top: 328px;
  width: 6rem;
  height: 3.8rem;
  transform: rotate(-85deg);
  border-bottom-right-radius: 40px;
  border-top-right-radius: 50px;
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.409); */
}
.b166 > div {
  position: relative;
  top: 12px;
  /* left: 0px; */
  width: 13.3rem;
  /* transform: rotate(-4deg); */
  /* background-color: var(--main-color); */
  height: 3.5rem;
  border-radius: 50%;
  border: 3px solid black;
}

.b17 {
  position: absolute;
  top: 232px;
  left: 143px;
  width: 6.5rem;
  height: 4rem;
  transform: rotate(45deg);
  border-top-right-radius: 50px;
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.409); */
}
.b17 > div {
  position: relative;
  top: 16px;
  left: -40px;
  width: 15rem;
  transform: rotate(20deg);
  height: 7.5rem;
  border-radius: 50%;
  border: 3px solid black;
}

.b18 {
  position: absolute;
  top: 311px;
  left: 266px;
  width: 5rem;
  height: 4rem;
  transform: rotate(-85deg);
  border-top-right-radius: 50px;
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.409); */
}
.b18 > div {
  position: relative;
  top: 35px;
  left: -40px;
  width: 15rem;
  transform: rotate(25deg);
  height: 7.5rem;
  border-radius: 50%;
  border: 3px solid black;
}

.b19 {
  position: absolute;
  top: 280px;
  left: 279px;
  width: 5rem;
  height: 7.1rem;
  /* transform: rotate(-85deg); */
  /* border-top-right-radius: 50px; */
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.409); */
}
.b19 > div {
  position: relative;
  top: 10px;
  left: -86px;
  width: 12rem;
  transform: rotate(-74deg);
  height: 7.5rem;
  border-radius: 50%;
  border: 3px solid black;
}

.c29 {
  position: absolute;
  bottom: 24px;
  left: 212px;
  width: 1.4rem;
  height: 4.4rem;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(-13deg);
  background-color: #e6ab2e;
}

.b20 {
  position: absolute;
  left: 190px;
  top: 363px;
  width: 3.6rem;
  height: 3rem;
  border-radius: 50%;
  transform: rotate(25deg);
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.3); */
}
.b20 > div {
  position: relative;
  top: -12px;
  left: 22px;
  transform: rotate(-48deg);
  width: 5.2rem;
  height: 10rem;
  border-radius: 50%;
  border: 3px solid black;
}

.b21 {
  position: absolute;
  left: 185px;
  top: 382px;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  /* transform: rotate(25deg); */
  /* overflow: hidden; */
  /* background-color: rgba(173, 216, 230, 0.3); */
}
.b21 > div {
  position: relative;
  top: -20px;
  left: 22px;
  transform: rotate(-13deg);
  width: 1.7rem;
  height: 6rem;
  border-radius: 50%;
  border: 3px solid black;
}

.c30 {
  position: absolute;
  bottom: 107px;
  left: 207px;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(-13deg);
  background-color: var(--main-color);
}

.c31 {
  position: absolute;
  bottom: 25px;
  left: 210px;
  width: 1.6rem;
  height: 4.4rem;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(-13deg);
  background-color: #e6ab2e;
}

.b22 {
  position: absolute;
  left: 354px;
  top: 355px;
  width: 2rem;
  height: 5rem;
  border-radius: 50%;
  transform: rotate(25deg);
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.3); */
}
.b22 > div {
  position: relative;
  top: 13px;
  left: 2px;
  transform: rotate(1deg);
  width: 1.7rem;
  height: 5.9rem;
  border-radius: 50%;
  border: 3px solid black;
}

.b25 {
  position: absolute;
  left: 330px;
  top: 410px;
  width: 2rem;
  height: 5rem;
  border-radius: 50%;
  transform: rotate(40deg);
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.3); */
}
.b25 > div {
  position: relative;
  top: -46px;
  left: -10px;
  transform: rotate(-14deg);
  width: 1.7rem;
  height: 5.9rem;
  border-radius: 50%;
  border: 3px solid black;
}

.c32 {
  position: absolute;
  bottom: 22px;
  left: 350px;
  width: 1.5rem;
  height: 5.7rem;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(26deg);
  background-color: var(--main-color);
}

.b23 {
  position: absolute;
  left: 345px;
  top: 355px;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  /* transform: rotate(25deg); */
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.3); */
}
.b23 > div {
  position: relative;
  top: 5px;
  left: -39px;
  transform: rotate(8deg);
  width: 4rem;
  height: 5rem;
  border-radius: 50%;
  border: 3px solid black;
}

.b24 {
  position: absolute;
  left: 350px;
  top: 366px;
  width: 1.5rem;
  height: 5.8rem;
  border-radius: 50%;
  transform: rotate(25deg);
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.3); */
}
.b24 > div {
  position: relative;
  top: 15px;
  left: 1px;
  transform: rotate(3deg);
  width: 1.4rem;
  height: 5rem;
  border-radius: 50%;
  /* border: 3px solid black; */
  background-color: #e6ab2e;
}

.b26 {
  position: absolute;
  left: 145px;
  top: 43px;
  width: 2.8rem;
  height: 3rem;
  transform: rotate(-85deg);
  /* border-top-right-radius: 20px; */
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.409); */
}
.b26 > div {
  position: relative;
  top: 3px;
  left: -55px;
  width: 8rem;
  transform: rotate(-12.5deg);
  height: 5rem;
  border-radius: 50%;
  border: 3px solid black;
}

.b27 {
  position: absolute;
  left: 403px;
  top: 68px;
  width: 2.6rem;
  height: 3rem;
  transform: rotate(90deg);
  /* border-top-right-radius: 20px; */
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.409); */
}
.b27 > div {
  position: relative;
  top: 3px;
  left: -55px;
  width: 8rem;
  transform: rotate(-12.5deg);
  height: 5rem;
  border-radius: 50%;
  border: 3px solid black;
}

.c35 {
  position: absolute;
  top: 28.9px;
  left: 115.2px;
  width: 2.5rem;
  /* transform: translate(-90deg); */
  height: 4rem;
  clip-path: polygon(0 0, 50% 10%, 90% 23%, 79% 43%, 75% 76%, 80% 92%, 55% 74%, 9% 27%);
  background-color: black;
}

.c36 {
  position: absolute;
  top: 59.3px;
  left: 438px;
  width: 2rem;
  transform: rotate(20deg);
  height: 3.4rem;
  clip-path: polygon(100% 0, 94% 27%, 76% 65%, 45% 100%, 35% 75%, 18% 51%, 1% 35%, 65% 8%);
  background-color: black;
}

.c37 {
  position: absolute;
  top: 235px;
  left: 246px;
  height: 4rem;
  width: 4rem;
  border-radius: 20px;
  transform: rotate(60deg);
  background-color: #e6ab2e;
}

.c38 {
  position: absolute;
  top: 229px;
  left: 236px;
  height: 4rem;
  width: 6rem;
  border-radius: 50%;
  /* transform: rotate(0deg); */
  background-color: var(--main-color);
}

.b28 {
  position: absolute;
  left: 245px;
  top: 198px;
  width: 5rem;
  height: 5rem;
  /* transform: rotate(90deg); */
  /* border-top-right-radius: 20px; */
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.4); */
}

.b288 {
  position: relative;
  top: -87px;
  left: 17px;
  width: 3.6rem;
  transform: rotate(10deg);
  height: 10rem;
  border-radius: 50%;
  background-color: #881018;
  border: 3px solid black;
  overflow: hidden;
}

.b2888 {
  position: relative;
  top: 110px;
  left: -23px;
  width: 6rem;
  /* transform: rotate(10deg); */
  height: 5.5rem;
  border-radius: 50%;
  background-color: #ce4a51;
  border: 3px solid black;
}

.b28888 {
  position: relative;
  top: 14px;
  /* left: -1px; */
  width: 6rem;
  /* transform: rotate(10deg); */
  height: 4rem;
  border-radius: 50%;
  background-color: #e87476;
}

.b29 {
  position: absolute;
  left: 251.7px;
  top: 172px;
  width: 2rem;
  height: 3rem;
  transform: rotate(-190deg);
  /* border-top-right-radius: 20px; */
  /* border-top-left-radius: 20px; */
  border-top-right-radius: 20px;
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.409); */
}
.b29 > div {
  position: relative;
  top: 3px;
  left: -32px;
  width: 5rem;
  transform: rotate(-12.5deg);
  height: 5rem;
  border-radius: 50%;
  background-color: var(--main-color);
  border: 3px solid black;
}

.b30 {
  position: absolute;
  left: 286px;
  top: 180px;
  width: 2.1rem;
  height: 3rem;
  transform: rotate(-180deg);
  /* border-top-right-radius: 20px; */
  border-top-left-radius: 20px;
  /* border-top-ight-radius: 20px; */
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.409); */
}
.b30 > div {
  position: relative;
  top: 5px;
  left: -32px;
  width: 5rem;
  transform: rotate(-12.5deg);
  height: 5rem;
  border-radius: 50%;
  background-color: var(--main-color);
  border: 3px solid black;
}
.c44 {
  position: absolute;
  top: 145px;
  left: 265.2px;
  width: 2.5rem;
  /* transform: translate(-90deg); */
  height: 4rem;
  background-color: var(--main-color);
}

.b31 {
  position: absolute;
  left: 223px;
  top: 164px;
  width: 2.1rem;
  height: 2.1rem;
  transform: rotate(90deg);
  border-radius: 50%;
  /* overflow: hidden; */
  background-color: black;
}
.b31 > div {
  position: relative;
  top: 6px;
  left: 5px;
  width: 0.8rem;
  transform: rotate(-12.5deg);
  height: 0.8rem;
  border-radius: 50%;
  background-color: white;
}

.b32 {
  position: absolute;
  left: 321px;
  top: 178px;
  width: 2.1rem;
  height: 2.1rem;
  transform: rotate(90deg);
  border-radius: 50%;
  /* overflow: hidden; */
  background-color: black;
}
.b32 > div {
  position: relative;
  top: 12px;
  left: 4px;
  width: 0.8rem;
  transform: rotate(-12.5deg);
  height: 0.8rem;
  border-radius: 50%;
  background-color: white;
}

.c45 {
  position: absolute;
  top: 198px;
  left: 286px;
  width: 0.4rem;
  border-radius: 50%;
  transform: rotate(8deg);
  height: 0.2rem;
  background-color: black;
}

.b99 {
  position: absolute;
  left: 308px;
  top: 205px;
  width: 4rem;
  height: 4rem;
  transform: rotate(90deg);
  border-radius: 50%;
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.5); */
}
.b99 > div {
  position: relative;
  top: -5px;
  left: 18px;
  width: 2.5rem;
  transform: rotate(-12.5deg);
  height: 2.5rem;
  border-radius: 50%;
  background-color: #eb4e23;
  border: 3px solid black;
}

.b100 {
  position: absolute;
  left: 172px;
  top: 196px;
  width: 4rem;
  height: 4rem;
  /* transform: rotate(1800deg); */
  border-radius: 50%;
  overflow: hidden;
  /* background-color: rgba(173, 216, 230, 0.5); */
}
.b100 > div {
  position: relative;
  top: 5px;
  left: 18px;
  width: 2.5rem;
  transform: rotate(-12.5deg);
  height: 2.5rem;
  border-radius: 50%;
  background-color: #eb4e23;
  border: 3px solid black;
}
