:root {
  --main-color: #fff700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  position: relative;
  width: 30rem;
  height: 30rem;
  /* border: 2px solid black; */
  background-image: url(./Screen\ Shot\ 2022-05-16\ at\ 1.10.05\ PM.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

/* div {
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  background-color: aliceblue;
}
div > div {
  border: 3px solid black;
  background-color: #fff700;
} */

/* .circle1 {
  position: absolute;
  border-radius: 50%;
  top: 10px;
  left: 20px;
  position: relative;
  background-color: #fff700;
  overflow: hidden;
  background-color: aliceblue;
  width: 100px;
  height: 100px;
}
.circle1 > div {
  border-radius: 50%;
  border: 3px solid black;
  background-color: #fff700;
  position: absolute;
  top: 30px;
  width: 100px;
  height: 100px;
} */

.tail-color {
  width: 20rem;
  height: 20rem;
  background-color: #ffd724;
  position: absolute;
  position: relative;
  top: 100px;
  transform: rotate(-5deg);
  clip-path: polygon(
    62% 62%,
    45% 61%,
    78% 32%,
    26% 0%,
    0% 31%,
    46% 43%,
    28% 70%,
    46% 71%,
    37% 87%,
    54% 93%,
    58% 86%,
    47% 83%
  );
}
.tail-color > div {
  width: 40rem;
  height: 20rem;
  border-radius: 50%;
  background-color: #e6ab2e;
  position: absolute;
  top: 5.9rem;
  left: -10rem;
}

.tail-outline-1 {
  width: 197px;
  border: 2px solid black;
  position: absolute;
  top: 150px;
  left: 59px;
  transform: rotate(26.6deg);
}

.tail-outline-2 {
  width: 132px;
  border: 2px solid black;
  position: absolute;
  top: 159px;
  left: -32px;
  transform: rotate(-55deg);
}

.tail-outline-3 {
  width: 152px;
  border: 2px solid black;
  position: absolute;
  top: 224px;
  left: -3px;
  transform: rotate(9deg);
}

.tail-outline-4 {
  width: 152px;
  border: 2px solid black;
  position: absolute;
  top: 224px;
  left: -3px;
}
